<div class="category-menu">
  <!-- Línea 1: OFERTAS -->
  <div class="main-category offers-container">
     <span class="offers-bg"></span>
    <a href="#" class="offers">OFERTAS</a>
  </div>

  <!-- Línea 2: primeras 6 subcategorías -->
  <div class="sub-categories">
    <a href="#">Ordenadores</a>
    <a href="#">Portátiles</a>
    <a href="#">Gráficos y Procesadores</a>
    <a href="#">Smartphones</a>
    <a href="#">Monitores</a>
    <a href="#">Periféricos</a>
  </div>

  <!-- Línea 3: siguientes 6 subcategorías -->
  <div class="sub-categories">
    <a href="#">Consolas y Videojuegos</a>
    <a href="#">Televisores</a>
    <a href="#">Sonido</a>
    <a href="#">Relojes</a>
    <a href="#">Electrodomésticos</a>
    <a href="#">Licencias</a>
  </div>
</div>
