<header>
  <div class="header-container">
    <a routerLink="/" class="logo">
      <img src="/assets/logoheader.png" alt="InfoTec">
    </a>

    <div class="search-bar">
      <input 
        #sInput 
        type="text" 
        placeholder="Buscar productos, marcas..." 
        (keyup.enter)="search(sInput.value)" 
      />
      <button (click)="search(sInput.value)">
        <i class="fas fa-search"></i> </button>
    </div>

    <nav class="nav-links">
      <a routerLink="/login">
        <i class="fa fa-user"></i> Login
      </a>

      <div class="menu-container">
        <a routerLink="/dashboard">
          <i class="fa fa-user-circle"></i> Cuenta
        </a>
        <div class="menu">
          <a routerLink="/profile">Perfil</a>
          <a routerLink="/orders">Pedidos</a>
          <a>Logout</a>
        </div>
      </div>

      <a routerLink="/cart-page" class="cart-link">
        <i class="fa fa-shopping-cart"></i>
        <span class="cart-count">0</span>
      </a>
    </nav>
  </div>
  
</header>
