<div class="container">
  <div class="login-content">
    
    <div class="login-title">
      <h2>Iniciar Sesión</h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      
      <div class="form-group">
        <label>Email</label>
        <input 
          type="email" 
          formControlName="email"
          placeholder="ejemplo@correo.com"
          [class.error]="isSubmitted && fc['email'].errors"
        >
        <div class="error-msg" *ngIf="isSubmitted && fc['email'].errors?.['required']">
          El email es obligatorio
        </div>
        <div class="error-msg" *ngIf="isSubmitted && fc['email'].errors?.['email']">
          Email no válido
        </div>
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input 
          type="password" 
          formControlName="password"
          placeholder="Tu contraseña"
          [class.error]="isSubmitted && fc['password'].errors"
        >
        <div class="error-msg" *ngIf="isSubmitted && fc['password'].errors?.['required']">
          La contraseña es obligatoria
        </div>
      </div>

      <button type="submit" class="btn-login">Entrar</button>

      <div class="register-link">
        ¿Nuevo en InfoTec? <a routerLink="/register">Regístrate aquí</a>
      </div>

    </form>
  </div>
</div>